.exercisemap-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.exercisemap-nav li {
  display: block;
  width: 60px;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}