.exercise-tag {
    display: flex;
    justify-content: center;
}

.exercise-tag a {
    margin-right: 1075px;
}
.exercise-index{
  width: 100%;
  margin: auto;
  margin-top: 20px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  font-size: 14px;
  text-align: center;
}

.exercise-index, .exercise-table{
  width: 960px;
  border-spacing: 0px;
  margin: auto;
  align-items: center;
  align-self: center;
}


tr{
  height: 110px;
  box-sizing: border-box;
}

tr:nth-child(even){
  background-color: #F9F9F9;
}

tr:nth-child(odd){
  background-color: #FFFFFF;
}

tr:hover{
  background-color: rgb(171, 231, 174);
}

td,th{
  border: 0.5px solid #E6E6E5;
  border-spacing: 0px;
  padding: 15px;
}

th {
    font-size: 28px;
    background-color: rgb(179, 179, 179)
}


.create-exercise-button {
  width: 130px;
  color: white;
  background-color: rgb(42, 235, 51);
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 3px;
  font-size: 14px;
  margin: 25px; 
  text-align: center;
}



.item-create-exercise:hover{
    background-color: #EC800F;
    transition: background 0.5s ease-in-out;
}

.exercise-td{
  font-size: 14px;
  color: black;
  height: 120px;
  align-items: center;
  text-align: center;
}

.exercise-options {
  margin: 6px;
  color: blue;
  font-size: 14px;
}



#run-time{
  width: 155px;
  box-sizing: border-box;
}

#run-distance{
  width: 130px;
  box-sizing: border-box;
  font-size: 14px;
}


#run-name{
  width: 205px;
  box-sizing: border-box;
}

#run-location{
  width: 185px;
  box-sizing: border-box;
}

#run-option{
  width: 120px;
  box-sizing: border-box;
}
